start on stopped test/mutuala

script 
  echo "Date: `date` running job $UPSTART_JOB $JOB">>/tmp/mutual.log
  env >>/tmp/mutual.log
  echo ======>>/tmp/mutual.log
  echo ===bbb>>/tmp/mutual.log
end script
